# pip install -v git+https://github.com/casper-hansen/AutoAWQ.git --no-build-isolation
auto-gptq
einops
# pip install -v git+https://github.com/ModelCloud/GPTQModel.git@v2.2.0 --no-build-isolation
intel-extension-for-pytorch
lm-eval>=0.4.9.1
optimum
pandas
pillow
torchvision
numba
vllm>=0.8.5.post1,<=0.11.0
