transformers
torch
lm-eval==0.4.2
##for lm-eval 0.4.1 we usually used
##git+https://github.com/EleutherAI/lm-evaluation-harness.git@96d185fa6232a5ab685ba7c43e45d1dbb3bb906d
# For the paper results use the old lm_eval (0.3.0)
# git+https://github.com/EleutherAI/lm-evaluation-harness.git@008fc2a23245c40384f2312718433eeb1e0f87a9
tiktoken
transformers_stream_generator
peft
sentencepiece
einops
accelerate
datasets
protobuf
auto-gptq
openpyxl
wandb
py-cpuinfo
numpy < 2.0
threadpoolctl
