parameters:
  - name: dockerConfigName
    type: string
    default: "commonDockerConfig"
  - name: repo
    type: string
    default: "https://github.com/intel/auto-round"
  - name: utScriptFileName
    type: string
  - name: uploadPath
    type: string
  - name: utArtifact
    type: string
  - name: utTestMode
    type: string
    default: "coverage"
  - name: utContainerName
    type: string
    default: "AutoRoundUnitTest"
  - name: imageSource
    type: string
    default: "build"

steps:
  - template: docker-template.yml
    parameters:
      dockerConfigName: ${{ parameters.dockerConfigName }}
      repoName: "auto-round"
      repoTag: "py312"
      dockerFileName: "Dockerfile"
      containerName: ${{ parameters.utContainerName }}
      repo: ${{ parameters.repo }}
      imageSource: ${{ parameters.imageSource }}

  - ${{ if eq(parameters.imageSource, 'build') }}:
    - script: |
        if [ "${{ parameters.utScriptFileName }}" == "run_ut_xpu" ];then
          docker exec ${{ parameters.utContainerName }} bash -c "cd /auto-round \
            && uv pip install torch==2.9.0 --index-url https://download.pytorch.org/whl/xpu \
            && uv pip install -r requirements.txt \
            && uv pip list"
        else 
          docker exec ${{ parameters.utContainerName }} bash -c "cd /auto-round \
            && uv pip install torch==2.10.0 torchvision --index-url https://download.pytorch.org/whl/cpu \
            && uv pip install -r requirements.txt \
            && uv pip install -r requirements-cpu.txt \
            && uv pip list"
        fi
      displayName: "Env Setup"

  - ${{ if eq(parameters.imageSource, 'pull') }}:
    - script: |
        docker exec ${{ parameters.utContainerName }} bash -c "cd /auto-round \
          && python setup.py bdist_wheel lib \
          && pip install dist/*.whl \
          && pip install -r test/test_hpu/requirements.txt \
          && pip list"
      displayName: "HPU Env Setup"

  - script: |
      docker exec ${{ parameters.utContainerName }} bash -c "cd /auto-round/.azure-pipelines/scripts \
        && bash ut/${{ parameters.utScriptFileName }}.sh ${{ parameters.utTestMode }}"
    displayName: "Run UT"

  - task: PublishPipelineArtifact@1
    condition: succeeded()
    inputs:
      targetPath: ${{ parameters.uploadPath }}
      artifact: ${{ parameters.utArtifact }}_coverage
      publishLocation: "pipeline"

  - task: Bash@3
    condition: always()
    inputs:
      targetType: "inline"
      script: |
        docker stop ${{ parameters.utContainerName }}
        docker rm -vf ${{ parameters.utContainerName }} || true
    displayName: "Docker clean up"
