trigger: none

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - main
  paths:
    include:
      - auto_round
      - auto_round_extension
      - setup.py
      - requirements.txt
      - requirements-cpu.txt
      - requirements-hpu.txt
      - .azure-pipelines/code-scan.yml
      - .azure-pipelines/scripts/codeScan

pool:
  vmImage: "ubuntu-latest"

variables:
  CODE_SCAN_LOG_PATH: ".azure-pipelines/scripts/codeScan/scanLog"

stages:

  - stage: BanditCodeScan
    displayName: Bandit Code Scan
    dependsOn: []
    jobs:
      - job: Bandit
        displayName: Bandit
        steps:
          - template: template/code-scan-template.yml
            parameters:
              codeScanFileName: "bandit"
              uploadPath: "bandit.log"

  - stage: PylintCodeScan
    displayName: Pylint Code Scan
    dependsOn: []
    jobs:
      - job: Pylint
        displayName: Pylint
        steps:
          - template: template/code-scan-template.yml
            parameters:
              codeScanFileName: "pylint"
              uploadPath: "pylint.json"
