trigger: none

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - main
  paths:
    include:
      - auto_round
      - auto_round_extension
      - test
      - setup.py
      - requirements.txt
      - requirements-cpu.txt
      - .azure-pipelines/scripts/ut
      - .azure-pipelines/unit-test.yml
      - .azure-pipelines/template/ut-template.yml
      - .azure-pipelines/template/docker-template.yml
    exclude:
      - auto_round_extension/ark
      - test/test_hpu
      - test/test_ark
      - test/test_xpu
      - "*.md"
      - "**/*.md"
      - .azure-pipelines/scripts/ut/run_ut_hpu.sh
      - .azure-pipelines/scripts/ut/run_ut_cuda.sh
      - .azure-pipelines/scripts/ut/run_ut_xpu.sh

pool: ICX-16C

variables:
  IMAGE_NAME: "auto-round"
  IMAGE_TAG: "py312"
  UPLOAD_PATH: $(Build.SourcesDirectory)/log_dir
  DOWNLOAD_PATH: $(Build.SourcesDirectory)/log_dir
  ARTIFACT_NAME: "UT_coverage_report"
  REPO: $(Build.Repository.Uri)

stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
      - job:
        timeoutInMinutes: 120
        strategy:
          matrix:
            part1:
              PART: 1
            part2:
              PART: 2
            part3:
              PART: 3
            part4:
              PART: 4
            part5:
              PART: 5
        steps:
          - template: template/ut-template.yml
            parameters:
              dockerConfigName: "commonDockerConfig"
              utScriptFileName: "run_ut"
              uploadPath: $(UPLOAD_PATH)
              utArtifact: "ut-$(PART)"
              utTestMode: $(PART)
              utContainerName: "AutoRoundUnitTestCPU$(NUMA_NODE)"

  - stage: Coverage
    displayName: "Collect Coverage"
    pool:
      vmImage: "ubuntu-latest"
    dependsOn: [Unit_test]
    jobs:
      - job: CollectDatafiles
        steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact:
              patterns: '*_coverage/.coverage.*'
              path: $(DOWNLOAD_PATH)
          
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.12'
            displayName: 'Use Python 3.12'

          - script: |
              cd ${BUILD_SOURCESDIRECTORY}
              pip install -U pip setuptools uv
              uv pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cpu
              uv pip install .
              pip list
              cd ${BUILD_SOURCESDIRECTORY}/.azure-pipelines/scripts
              bash ut/collect_log.sh
            env:
              PYTHONUNBUFFERED: '1'
              UV_NO_PROGRESS: '1'
              UV_SYSTEM_PYTHON: '1'
            displayName: "Collect UT Coverage"

          - task: PublishPipelineArtifact@1
            condition: succeededOrFailed()
            inputs:
              targetPath: $(UPLOAD_PATH)/coverage_PR
              artifact: $(ARTIFACT_NAME)
              publishLocation: "pipeline"

          - task: PublishCodeCoverageResults@2
            inputs:
              summaryFileLocation: $(Build.SourcesDirectory)/log_dir/coverage_PR/coverage.xml
