trigger: none

pr:
  autoCancel: true
  drafts: false
  branches:
    include:
      - main
  paths:
    include:
      - auto_round
      - auto_round_extension
      - test/test_ark
      - test/test_xpu
      - setup.py
      - .azure-pipelines/template/ut-template.yml
      - .azure-pipelines/unit-test-xpu.yml
      - .azure-pipelines/scripts/ut/run_ut_xpu.sh
    exclude:
      - "*.md"
      - "**/*.md"

# use XPU BMG B60 agent pool to run unit tests
pool: B60

variables:
  IMAGE_NAME: "auto-round"
  IMAGE_TAG: "py312-xpu"
  DOCKERFILE_NAME: "Dockerfile_xpu"
  UPLOAD_PATH: $(Build.SourcesDirectory)/log_dir
  DOWNLOAD_PATH: $(Build.SourcesDirectory)/log_dir
  ARTIFACT_NAME: "UT_coverage_report"
  REPO: $(Build.Repository.Uri)

stages:
  - stage: Unit_test
    displayName: Unit Test
    dependsOn: []
    jobs:
      - job:
        displayName: Unit Test
        steps:
          - template: template/ut-template.yml
            parameters:
              dockerConfigName: "commonDockerConfig"
              utScriptFileName: "run_ut_xpu"
              uploadPath: $(UPLOAD_PATH)
              utArtifact: "ut"
              imageTag: $(IMAGE_TAG)
              dockerFileName: $(DOCKERFILE_NAME)

          - task: UseDotNet@2
            displayName: 'Use .NET Core sdk 7.0.x'
            inputs:
              version: 7.0.x

          - task: PublishCodeCoverageResults@2
            inputs:
              summaryFileLocation: $(UPLOAD_PATH)/coverage.xml
