name: AutoRound binary build and publish
permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      branch:
        default: 'v0.9.3'
        description: 'Tag to build the binary'
        required: true
        type: string
      publish:
        default: false
        description: 'Publish the binary to PyPi'
        required: false
        type: boolean

jobs:
  binary-build-and-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        option: ["full", "lib", "hpu"]
      fail-fast: true
    steps:
      - name: Checkout out Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build the binary
        run: |
          if [ "${{ matrix.option }}" == "full" ]; then
            echo "Building auto-round binary..."
            python setup.py sdist bdist_wheel
          else 
            echo "Building auto-round-${{ matrix.option }} binary..."
            python setup.py sdist bdist_wheel ${{ matrix.option }}
          fi

      - name: Publish the binary
        if: ${{ fromJSON(inputs.publish) }}
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        working-directory: ./${{ matrix.repo }}
        run: |
          python -m pip install --upgrade twine
          # python -m twine upload dist/*

      - uses: actions/upload-artifact@v4.3.4
        with:
          name: dist-${{ matrix.option }}
          path: dist
