name: AutoRound binary build and publish
permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      branch:
        default: 'v0.9.3'
        description: 'Tag to build the binary'
        required: true
        type: string
      publish:
        default: true
        description: 'Publish the binary'
        required: false
        type: boolean
      test_pypi:
        default: true
        description: 'Publish to TestPyPI, for test only'
        required: false
        type: boolean

jobs:
  binary-build-and-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        option: ["full", "lib", "hpu"]
      fail-fast: true
    steps:
      - name: Checkout out Repo
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build the binary
        run: |
          if [ "${{ matrix.option }}" == "full" ]; then
            echo "Building auto-round binary..."
            python setup.py sdist bdist_wheel
          else 
            echo "Building auto-round-${{ matrix.option }} binary..."
            python setup.py sdist bdist_wheel ${{ matrix.option }}
          fi

      - name: Upload the artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist-${{ matrix.option }}
          path: dist

      - name: Publish to PyPI
        if: ${{ fromJSON(inputs.publish) }}
        env:
          TWINE_USERNAME: "__token__"
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          TESTPYPI_PASSWORD: ${{ secrets.TESTPYPI_PASSWORD }}
        run: |
          python -m pip install --upgrade twine
          if [ "${{ inputs.test_pypi }}" == "true" ]; then
            export TWINE_PASSWORD=${TESTPYPI_PASSWORD}
            echo "publish to TestPyPI"
            twine upload --verbose --repository testpypi dist/*
          else
            if git describe --exact-match --tags >/dev/null 2>&1; then
                export TWINE_PASSWORD=${PYPI_PASSWORD}
                echo "publish to PyPI"
                twine upload dist/*
            else
                echo "This branch is not a tag, shouldn't be uploaded into PyPI."
            fi
          fi


